
.div1
{
	margin: 0 auto;
	margin-top: 4.8%;
	background-color: #356AA0;
	height: 600px;
	width: 800px;
	position: relative;
	color:white       ;
}
.div2
{

	margin-left: 12.5%;
	margin-top: 12.5%;
	height: 400px;
	width: 600px;
	border: 2px solid white;
	position: absolute;
} 
.div3
{
	float:left;
	width: 20%;
	text-align: right;
	color: white; 
}
.main_form input,select
{
	margin-left: 5%;
}


.a{
	margin-left: 20%;
}
.g1{
	margin-left: 20%;
	margin-top: 85%;
}
